// colours
$contrast-background-color: #565656;
$content-background-color: #FFFFFF;
$feature-color: #719B3F;
//$feature-color-highlight: #A8CFB1;
$feature-color-highlight: lighten($feature-color, 30%);
